.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: rebeccapurple;
}
.dialogsList {
  padding: 10px;
}
.dialogsList .active {
  color: darkturquoise;
}
.dialog a {
  text-decoration: none;
  color: white;
}
.dialog a.activeLink {
  color: lightsalmon;
}
.dialog img {
  width: 50px;
  padding-right: 5px;
}
.messages {
  padding: 10px;
}
.message {
}
